doctype html
html(lang="en-us")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/png" href="http://example.com/myicon.png")
        style
            include main.css
    body
        include _mixins.pug
        +nav(nav)
        main.posts
            for arguments in cards
                +article_card(arguments)
                if arguments.is_header 
                    hr.divide_header
            .aside-container
                aside.about-me
                    +aside_content(aside_about)
            .recent-articles
                h2.recent-articles-title
                    | Recent Articles
                .aside-articles-container
                    for arguments in aside_articles
                        +aside_content(arguments)
        footer 
            h3.footer-h3
                | Living Simple For a Better Life 
            h4.footer-h4
                | Copyright 2020