@font-face {
    font-family: Lora;
    src: url('public\\fonts\\Lora\\static\\Lora-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Lora;
    src: url('public\\fonts\\Lora\\static\\Lora-Regular.ttf');
}
@font-face {
    font-family: Ubuntu;
    src: url('public\\fonts\\Ubuntu\\Ubuntu-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Ubuntu;
    src: url('public\\fonts\\Ubuntu\\Ubuntu-Regular.ttf');
}
:root{
    --title-font: "Lora";
    --content-font: "Ubuntu", Arial;
    /*colors*/
        --nav-background: #F8F8F8;
        --dark-blue: #143774;
        --light-blue: #1792D2;
        --nav-dark-grey: #717171;
        --dark-grey: #707070;
        --border-light-grey: #EBEBEB;
        --footer-blue: #143774;
}
*{
    box-sizing: border-box;
}
h1,h2, h6{
    color: var(--dark-blue);
    font-family:var(--title-font);
    padding: 0;
    margin: .3em 0 0 0;
}
p{
    font-family: var(--content-font);
}
body{
    padding: 0;
    margin: 0;
}
/*NAV-----------------------------*/
nav{
    width: 100%;
    background-color: var(--nav-background);
}
.top{
    text-align: center;
    padding: 3rem 4rem ;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-title-container{

}
.home-title{
    font-size: 2rem;
}
ul.nav-items-container{
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: space-around;
    color: var(--nav-dark-grey);
    margin: auto;
}
li.nav-item{
    text-decoration: none;
    margin: .2em;
}
h6.home-subtitle{
    font-size: .75rem;
    color: var(--light-blue);
}
/*main---------------------------------*/
main{
    padding-top: 2rem;
}
/*Cards--------------------------------*/
.article_class{
    padding: 1rem;
}
.article_class:first-of-type{
    padding-top: 0;
}
hr.divide_header{
    height: 3px;
    margin: .2rem;
    color: var(--border-light-grey);
}
.img-container{
}
.img_figure{
    margin: 0;
}
.img{
    max-height: 20rem;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.figcaption{
    text-align: center;
    color: var(--dark-grey);
}
.article-text-container{
    display: flex;
    flex-direction: column;
}
h2.section-title{
    font-size: 1.5rem;
}

p.section-intro{
    font-size: 1.1rem;
    color: var(--dark-grey);
}
a.read-more{
    font-size: .9rem;
    color: var(--light-blue);
}

/*Asides--------------------------------*/
.aside-container{
    width: 100%;
    min-width: 13rem;
}
aside.about-me{
    margin-bottom: .1rem;
    border: solid 1.25rem var(--border-light-grey);
}
.aside-content-container .aside-img{
    object-position: left 75%;

}
.aside-content-container{
    padding: .2rem;
    border-bottom: solid .25rem var(--border-light-grey);
}
aside.about-me .aside-img{
    object-position: center top;
}

.aside-img{
    width: 100%;
    max-height: 15rem;
    object-fit: cover;
    margin-bottom: 1px;
}
h2.aside-title{
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.25rem;
}
.txt-container{
    padding: 0 .3rem;
}
p.about-me-text{
    margin: 0 0 .5em 0;
}
.recent-articles{

}
h2.recent-articles-title{
    margin-left: 1.25rem;
    margin-bottom: .25rem;
}
.aside-articles-container{
    border: solid 1.25rem var(--border-light-grey);
}

/*footer------------------------------------*/
footer{
    min-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--footer-blue);
}
.footer-h4, .footer-h3{
    font-family: var(--content-font);
}
.footer-h4{
    margin: 0;
    color: rgb(223, 222, 228);
    font-size: .75rem;
}

.footer-h3{
    margin: .5rem;
    color:lightblue;
}
/*For tablet*/
@media screen and (min-width: 800px){
    main{
        display: flex;
        margin: auto;
        max-width: 960px;
    }
    .aside-container{
        width: max(30%, 15rem);
    }
    .content-container{
        margin-right: 3%;
        width: 70%
    }
    :root{
        font-size: 14px;
    }
    .top{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    h1.home-title{
        font-size: 2em;
        margin-top: 0;
    }
    h6.home-subtitle{
        font-size: 1em;
    }
    ul.nav-items-container{
        width: 20rem;
        margin: 0;
        font-size: 1.1em;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-title-container{
        text-align: start;
    }
}
/*For laptop and Desktop*/
@media screen and (min-width: 1000px){
    .top{
        padding: 3rem 0;
    }
    ul.nav-items-container{
        width: 24rem;
        margin-left: 5rem;
    }
    :root{
        font-size: 1.03rem;
    }
}
@media screen and (min-width: 1260px){
    ul.nav-items-container{
        width: 35rem;
    }
    main{
        max-width: 1260px;
    }
    .top{
        margin: auto;
        max-width: 70%;
        font-size: 1.5rem;
    }
}